Repository PetraProver/PetraVM, changes with the labels that .github/labeler.yml gives for each.
All labels: crate: asm, crate: prover, crate: verifier, doc: book, ci

Use PAT for publishing
  .github/workflows/book.yml
Labels: ci

Tweak
  .github/actions/rust/action.yml
Labels: ci

Fix
  .github/workflows/yamllint.yml
Labels: ci

Tweak
  .cargo/config.toml
  .cargo/katex-header.html
  .github/CODEOWNERS
Labels: ci

Run yamllint
  .github/workflows/book.yml
  .github/workflows/ci.yml
Labels: ci

Run rustdoc
  .github/workflows/lint.yml
Labels: ci

Run taplo
  prover/Cargo.toml
  rust-toolchain.toml
  verifier/Cargo.toml
Labels: crate: prover, crate: verifier

Run udeps
  prover/Cargo.toml
  verifier/Cargo.toml
Labels: crate: prover, crate: verifier

Run cargo outdated
  .cargo/config.toml
  .github/workflows/lint.yml
  prover/Cargo.toml
Labels: crate: prover, ci

Run cargo audit
  .github/workflows/audit.yml
  .github/workflows/lint.yml
  assembly/Cargo.toml
  prover/Cargo.toml
Labels: crate: asm, crate: prover, ci

Misc
  .github/workflows/audit.yml
Labels: ci

.github/labeler.yml:

---  # Github labeler configuration file

# Add 'crate: asm' label to any changes within 'assembly' folder.
'crate: asm':
  - changed-files:
      - any-glob-to-any-file: assembly/**

# Add 'crate: prover' label to any changes within 'prover' folder.
'crate: prover':
  - changed-files:
      - any-glob-to-any-file: prover/**

# Add 'crate: verifier' label to any changes within 'verifier' folder.
'crate: verifier':
  - changed-files:
      - any-glob-to-any-file: verifier/**

# Add 'doc: book' label to any changes within 'book' folder.
'doc: book':
  - changed-files:
      - any-glob-to-any-file: book/**

# Add 'ci' label to any changes within '.github' folder.
'ci':
  - changed-files:
      - any-glob-to-any-file: .github/**
