Repository PetraProver/PetraVM, pull requests merged in 2025-05, with the labels that each got.

#150 Add MUL and MULI tables in Prover
  README.md
  prover/src/model.rs
  prover/src/opcodes/integer_ops.rs
  prover/src/opcodes/mod.rs
  prover/tests/simple.rs
Labels: crate: prover

#169 Add MULU table
  README.md
  assembly/src/event/context.rs
  assembly/src/memory/vrom.rs
  prover/src/model.rs
  prover/src/opcodes/integer_ops.rs
  prover/src/opcodes/mod.rs
  prover/tests/simple.rs
Labels: crate: asm, crate: prover

#172 Remove deadcode in prover
  prover/src/gadgets/b128_lookup.rs
  prover/src/lib.rs
  prover/src/opcodes/binary.rs
  prover/src/opcodes/integer_ops.rs
  prover/src/opcodes/shift.rs
Labels: crate: prover

#173 Minor clippy tweaks
  assembly/src/event/mod.rs
  assembly/src/execution/emulator.rs
  assembly/src/execution/trace.rs
  assembly/src/memory/vrom.rs
  assembly/src/memory/vrom_allocator.rs
  assembly/src/opcodes.rs
  assembly/src/parser/instruction_args.rs
  prover/src/test_utils.rs
Labels: crate: asm, crate: prover

#171 Refactor binary ops
  prover/src/opcodes/binary/b128.rs
  prover/src/opcodes/binary/b32.rs
  prover/src/opcodes/binary/mod.rs
Labels: crate: prover

#174 Add structured tracing
  .cargo/audit.toml
  .github/workflows/audit.yml
  Cargo.toml
  assembly/Cargo.toml
  assembly/src/assembler/mod.rs
  assembly/src/event/mod.rs
  assembly/src/execution/emulator.rs
  assembly/src/parser/mod.rs
  assembly/src/util.rs
  prover/Cargo.toml
  prover/examples/collatz.rs
  prover/examples/fibonacci.rs
  prover/src/prover.rs
  prover/src/table.rs
  prover/src/test_utils.rs
  prover/tests/fibonacci.rs
Labels: crate: asm, crate: prover, ci

#175 Bump nightly
  assembly/src/assembler/mod.rs
  assembly/src/event/mv.rs
  assembly/src/event/shift.rs
  assembly/src/execution/emulator.rs
  assembly/src/memory/vrom_allocator.rs
  assembly/src/parser/instructions_with_labels.rs
  assembly/src/parser/tests.rs
  assembly/tests/bezout.rs
  assembly/tests/branch.rs
  assembly/tests/collatz.rs
  assembly/tests/common/test_utils.rs
  assembly/tests/div.rs
  assembly/tests/fibonacci.rs
  assembly/tests/opcodes.rs
  assembly/tests/tail_long_div.rs
  prover/src/opcodes/binary/b128.rs
  prover/src/opcodes/binary/b32.rs
  prover/src/opcodes/branch.rs
  prover/src/opcodes/call.rs
  prover/src/opcodes/comparison.rs
  prover/src/opcodes/integer_ops.rs
  prover/src/opcodes/jump.rs
  prover/src/opcodes/ldi.rs
  prover/src/opcodes/mv.rs
  prover/src/opcodes/ret.rs
  prover/src/opcodes/shift.rs
  prover/src/table.rs
  prover/src/test_utils.rs
  prover/tests/simple.rs
  rust-toolchain.toml
Labels: crate: asm, crate: prover

#168 Run mdbook CI jobs only when necessary
  .github/workflows/book.yml
Labels: ci

#176 Speed-up program emulation
  Cargo.toml
  assembly/Cargo.toml
  assembly/src/execution/emulator.rs
  assembly/src/execution/trace.rs
  prover/Cargo.toml
  prover/src/model.rs
  prover/src/prover.rs
Labels: crate: asm, crate: prover

#165 Signed comparisons
  README.md
  prover/src/model.rs
  prover/src/opcodes/comparison.rs
  prover/src/opcodes/integer_ops.rs
Labels: crate: prover

#177 Fix comparisons in prover
  prover/src/opcodes/comparison.rs
Labels: crate: prover

#170 Add mulsu and all opcodes integration tests
  README.md
  prover/src/model.rs
  prover/src/opcodes/integer_ops.rs
  prover/src/opcodes/mod.rs
  prover/tests/opcodes.rs
Labels: crate: prover

#178 Use zero pad in B32
  prover/src/opcodes/binary/b32.rs
  prover/tests/simple.rs
Labels: crate: prover

#167 Add tests for all files in the examples folder
  assembly/tests/common/test_utils.rs
  assembly/tests/linked_list.rs
  examples/linked_list.asm
  prover/src/test_utils.rs
  prover/tests/fibonacci.rs
  prover/tests/opcodes.rs
  prover/tests/other_examples.rs
  rust-toolchain.toml
Labels: crate: asm, crate: prover

#148 Add shift benches for the prover
  prover/Cargo.toml
  prover/benches/shift.rs
  prover/src/opcodes/shift.rs
Labels: crate: prover

#185 Use WitnessIndex::new directly
  prover/src/prover.rs
Labels: crate: prover

#184 tracing-profile integration
  .gitignore
  Cargo.toml
  assembly/Cargo.toml
  assembly/src/util.rs
  prover/Cargo.toml
  prover/examples/collatz.rs
Labels: crate: asm, crate: prover
