Repository PetraProver/PetraVM, pull requests merged in 2025-06, with the labels that each got.

#187 fix: structured column iface
  prover/src/memory.rs
Labels: crate: prover

#188 Remove assert_nonzero
  prover/src/opcodes/branch.rs
Labels: crate: prover

#186 Deterministic assembly parsing support
  assembly/src/assembler/mod.rs
  assembly/src/parser/asm.pest
  assembly/src/parser/instructions_with_labels.rs
  assembly/src/parser/mod.rs
  assembly/src/parser/tests.rs
  examples/bezout_deterministic.asm
Labels: crate: asm

#190 Support prover-only instructions
  assembly/src/assembler/mod.rs
  assembly/src/event/alloc.rs
  assembly/src/event/binary_ops/b32.rs
  assembly/src/event/binary_ops/mod.rs
  assembly/src/event/branch.rs
  assembly/src/event/call.rs
  assembly/src/event/context.rs
  assembly/src/event/integer_ops.rs
  assembly/src/event/macros.rs
  assembly/src/event/mod.rs
  assembly/src/event/mv.rs
  assembly/src/event/shift.rs
  assembly/src/execution/emulator.rs
  assembly/src/execution/trace.rs
  assembly/src/isa.rs
  assembly/src/memory/vrom.rs
  assembly/src/opcodes.rs
  assembly/src/parser/instructions_with_labels.rs
  assembly/src/parser/tests.rs
  assembly/src/test_util.rs
  assembly/tests/arith_tests.rs
  assembly/tests/bezout.rs
  assembly/tests/common/test_utils.rs
  assembly/tests/opcodes.rs
  examples/bezout_deterministic.asm
  examples/opcodes.asm
  prover/src/model.rs
  prover/src/test_utils.rs
  prover/tests/opcodes.rs
Labels: crate: asm, crate: prover

#194 Log table sizes int `trace` mode
  prover/src/circuit.rs
  prover/src/table.rs
Labels: crate: prover

#197 Generate witness tables with multithreading
  prover/src/prover.rs
Labels: crate: prover

#198 add init_logger guard for fibonacci example
  prover/examples/fibonacci.rs
Labels: crate: prover

#191 Remove skip table
  prover/README.md
  prover/src/circuit.rs
  prover/src/memory.rs
  prover/src/prover.rs
Labels: crate: prover

#199 Turn instruction_counter into a Vec
  Cargo.toml
  assembly/Cargo.toml
  assembly/src/execution/emulator.rs
  assembly/src/execution/trace.rs
  prover/Cargo.toml
  prover/src/model.rs
Labels: crate: asm, crate: prover

#201 Use iterator for VROM allocation
  assembly/src/memory/vrom_allocator.rs
Labels: crate: asm

#180 Add Groestl instructions
  Cargo.toml
  README.md
  assembly/Cargo.toml
  assembly/src/assembler/mod.rs
  assembly/src/event/context.rs
  assembly/src/event/groestl.rs
  assembly/src/event/mod.rs
  assembly/src/execution/trace.rs
  assembly/src/isa.rs
  assembly/src/lib.rs
  assembly/src/opcodes.rs
  assembly/src/parser/asm.pest
  assembly/src/parser/instructions_with_labels.rs
  assembly/src/parser/mod.rs
  assembly/src/util.rs
  assembly/tests/opcodes.rs
  prover/benches/opcodes.rs
  prover/benches/shift.rs
  prover/src/gadgets/aes_to_bin.rs
  prover/src/gadgets/mod.rs
  prover/src/gadgets/multiple_lookup.rs
  prover/src/gadgets/transpose.rs
  prover/src/model.rs
  prover/src/opcodes/binary/b32.rs
  prover/src/opcodes/call.rs
  prover/src/opcodes/comparison.rs
  prover/src/opcodes/groestl.rs
  prover/src/opcodes/integer_ops.rs
  prover/src/opcodes/jump.rs
  prover/src/opcodes/mod.rs
  prover/src/opcodes/mv.rs
  prover/src/opcodes/shift.rs
  prover/src/test_utils.rs
  prover/src/utils.rs
  prover/tests/opcodes.rs
  prover/tests/other_examples.rs
  prover/tests/simple.rs
Labels: crate: asm, crate: prover

#212 CI: Remove benchmark workflow
  .github/scripts/upload_perfetto_traces.py
  .github/workflows/benchmark.yml
  README.md
Labels: ci
